@font-face {
    font-family: 'Hacked-KerX';
    src: url('../assets/fonts/glitchFont.ttf') format('truetype');
}

body{
    cursor: url('../assets/images/cursorNormal.cur'), default;
    overflow: hidden;
    background-color: black;
    color: #009100;
    font-family: 'Hacked-KerX', sans-serif;
    margin: 0;
    user-select: none;
}

#particles-js{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.window{
    box-shadow: rgb(0, 255, 0) 0px 0px 5px;
    position: absolute;
    min-width: 250px;
    width: fit-content;
    left: 0;
    top: 0;
    opacity: 50%;
    background-color: black;
    border: 2px solid #009100;
    border-top: none;
    transition: top 0.5s, height 0.2s;
}

.window[focused="true"]{
    opacity: 1;
}

.window[state="minimized"]{
    transition: all 0.5s, height 0.2s;
    height: 0;
    top: 150%;
}

.window[state="closed"]{
    transition: all 0.25s, height 0.1s;
    height: 0;
    opacity: 0;
}

.addressBar{
    position: relative;
    width: 100%;
    height: 25px;
    background-color: #009100;
    outline: 2px solid #009100;
    display: flex;
    flex-direction: row-reverse;
    cursor: url('../assets/images/cursorMove.cur'), move;
}

.addressBarName{
    color: lime;
    fill: lime;
    margin: 0;
    position: absolute;
    height: 100%;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
    display: flex;
}

.addressBarName p {
    margin: auto;
    margin-left: 5px;
}

.addressBarName img{
    height: 100%;
    filter: invert(52%) sepia(71%) saturate(1955%) hue-rotate(84deg) brightness(113%) contrast(133%);
}

.addressBarOptions{
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    width: 80px;
}

.addressBarOption{
    height: 18px;
    width : 18px;
    margin: auto;
    cursor: url('../assets/images/cursorPointer.cur'), pointer;
    transition: all 0.1s;
}

.addressBarOption:hover {
    transform: scale(1.1) translate(2px, -2px);
}

.minimize{
    border: 2px solid yellow;
}

.minimize:hover{
    box-shadow: yellow 0px 0px 10px;
    background-color: yellow;
}

.zoom{
    border: 2px solid lime;
}

.zoom:hover{
    box-shadow: lime 0px 0px 10px;
    background-color: lime;
}

.close{
    border: 2px solid red;
}

.close:hover{
    box-shadow: red 0px 0px 10px;
    background-color: red;
}

.window .content{
    padding: 10px;
}

.taskBar{
    border-top: 2px solid hwb(120 0% 43% / 0.438);
    background: rgba(0, 145, 0, 0);
    position: absolute;
    width: 100%;
    height: 60px;
    bottom: 0;
}

.time{
    color: lime;
    position: absolute;
    right: 0;
    margin: 0;
    margin-right: 20px;
    height: fit-content;
    font-size: 20pt;
    top: 50%;
    vertical-align: middle;
    transform: translate(0, -50%);
}

.icons{
    height: 100%;
    width: fit-content;
    display: flex;
    margin: auto;
    align-items: center;
}

.taskBarIcon{
    height: 70%;
    filter: invert(52%) sepia(71%) saturate(1955%) hue-rotate(84deg) brightness(113%) contrast(133%);
    transition: all 0.3s;
    cursor: url('../assets/images/cursorPointer.cur'), pointer;
    margin-left: 5px;
    margin-right: 5px;
}

.taskBarIcon:hover, .taskBarIcon[focused="true"]{
    border-bottom: 1px solid lime;
    transform: scale(1.2);
}

.desktopIcon{
    position: absolute;
    box-sizing: border-box;
    text-align: center;
    height: 4vw;
    width: 4vw;
    overflow: visible;
    overflow-wrap: break-word;
    font-size: 0.5vw;

}

.desktopIcon .icon{
    box-sizing: border-box;
    filter: invert(52%) sepia(71%) saturate(1955%) hue-rotate(84deg) brightness(113%) contrast(133%);
    height: 60%;
    cursor: url('../assets/images/cursorPointer.cur'), pointer;
}

.desktopIcon .icon:hover{
    background-color: lime;
    filter: unset;
}

.desktopIcon .name{
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
    color: lime;
}
  